<!doctype html>
<title>Stock plotter</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Stock plotter</h1>
  <div class=metanav>
    <h4>
    Please enter a stock ticker (eg. GOOG, AAPL, AMZN, FB ...), and check desired features.
    </h4>
    <form id='ticker_name' method='post' action='plot' > 
       <p>
       Ticker symbol <input type='text' name='ticker' />
       </p>
       <p>
       Closing price  <input type='checkbox' name='price' value='Close' checked='true'/> <br />
       Adjusted closing price  <input type='checkbox' name='price' value='Adj. Close' /> <br />
       Opening price  <input type='checkbox' name='price' value='Open' /> <br />
       Adjusted opening price  <input type='checkbox' name='price' value='Adj. Open' /> <br />
       </p>
       <p>
       <input type='submit' value='Submit' /> 
       </p>
    </form>
  </div>
</div>
</html>


